html {
  background-color: #01426A;
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: normal;
  color: white;
}

.into-image {
  display: flex;
}

.nav-wrapper {
  background-color:#01426A ;
}

nav .brand-logo.right {
  right: 4.5rem;
  padding: 0;
  color: burlywood;
}
@media only screen and (max-width: 600px) {
  nav .brand-logo.right {
      right: 0.5rem;
      padding: 0;
      font-size: 20px;
  }
}

.sideNav-color {
  color: #039be5;
  text-decoration: none;
  -webkit-tap-highlight-color: #01426A  ;
}

.sideNav-color {
  background-color: #01426A;
  -webkit-text-decoration-skip: objects;
}

/* when hovering over the hamburger nav bar we turn the tabs white */
a.middle
{
  position: relative;
}

a.middle:before {
content: "";
position: absolute;
width: 100%;
height: 2px;
bottom: 0;
left: 0;
background-color: #FFF;
visibility: hidden;
transform: scaleX(0);
transition: all 0.3s ease-in-out;
}

a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
/*  */

.sidenav {
  position: fixed;
  width: 35%;
  left: 0;
  top: 0;
  margin: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  height: 100%;
  height: fit-content;
  height: -moz-calc(100%);
  padding-bottom: 0px;
  color: burlywood;
  background-color: #fff;
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  color: burlywood;
}

.sidenav li>a {
  color: burlywood;
  display: block;
  font-size: 13px;
  font-weight: 50%;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
}
@media only screen and (max-width: 350px) {
  .sidenav li>a {
      color: burlywood;
      display: block;
      font-size: 10px;
      font-weight: 50%;
      height: 48px;
      line-height: 48px;
      padding: 0 32px;
  }
}

.brand-logo {
  font-family: 'sacramento', cursive;
}

ul {
  font-family: 'Lato', sans-serif;
 
}

.welcome {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8vh;
  color: black;
}

.title {
  font-family: 'Sacramento';
  font-size: 4.5vh;
  color: burlywood;
  text-decoration: blink;
}
.project-title {
  font-family: 'Lato', sans-serif;
  font-size: 3.8vh;
  color:#FFF;
  font-weight: 800;
  /* text-decoration: underline; */
}
.about-me-par {
  font-family: 'Lato', sans-serif;
  font-size: 2.45vh;
  color: #FFF;
  
}
.page-footer {
  padding-top: 0px;
  color: white;
  background-color: #01426A;
  border-top-style:ridge;
  border-top-color: #FFF;
}

@media only screen and (max-width: 280px){
  .welcome {
      position: absolute;
      top: 11%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2vh;
  }
}
@media only screen and (min-width: 320px){
.welcome {
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.9vh;
}
}
@media only screen and (min-width: 360px){
  .welcome {
      position: absolute;
      top: 13%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3vh;
  }
}
@media only screen and (min-width: 375px){
  .welcome {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.4vh;
  }
}


@media only screen and (min-width: 411px){
  .welcome {
      position: absolute;
      top: 10.5%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3vh;
  }
}
@media only screen and (min-width: 414px){
  .welcome {
      position: absolute;
      top: 11%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3vh;
  }
}
@media only screen and (min-width: 540px){
  .welcome {
      position: absolute;
      top: 12%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3.5vh;
  }
}

@media only screen and (min-width: 768px){
  .welcome {
      position: absolute;
      top: 12%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3.5vh;
  }
}
@media only screen and (min-width: 800px){
  .welcome {
      position: absolute;
      top: 11%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3vh;
  }
}
@media only screen and (min-width: 1024px){
  .welcome {
      position: absolute;
      top: 11%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3vh;
  }
}


.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

@media only screen and (min-width: 993px) {
.row .col.offset-l2 {
  margin-left: -2.333333%;
}
}

/* .intro-image {
  height: 100vh;
} */

.project-des {
  font-family: 'Lato', sans-serif;
  font-size: 2.45vh;
}

/* make it card */
.card .card-image img {
  display: block;
  border-radius: 2%;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.row .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 0em;
  min-height: 1px;
}

@media only screen and (min-width: 601px) {
.row .col.m4 {
  width: 33.333333%;
  margin-left: auto;
  left: 14px;
  right: auto;
}}
.row .col.s5 {
  width: 41.6666666667%;
  margin-left: auto;
  left: 4%;
  right: auto;
}

.card {
  position: relative;
  margin: .5rem 4% 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2%;
}

.description {
  color: black;
}

.link {
  background-color: white;
}
.info {
  color: black;
}
/* make it card */

.contact-info {
  font-size: 140%;
}
.email-color {
  color: burlywood;
}

@media only screen and (min-width: 0) {
html {
  font-size: 17px;
}}

.headshot {
  max-width: 500px;
    max-height: 300px;
    margin-bottom: 0%;
    border-radius: 1000px;
}

.techFont {
  font-size: 20px;
}

.card-description {
  color: black;
}